body {
  background-color: #e8f5e9;
}

.card img {
  height: 250px;
  object-fit: cover;
}


.nav-logo {
  height: 50px;      
  margin-top: 7px;   
}

.nav-title {
  font-size: 2rem;
  font-weight: bold;
  color: #e8f5e9; 
  letter-spacing: 1px;
  font-style: italic;
  text-shadow: 1px 1px 3px rgba(0, 50, 0, 0.4);
  line-height: 5px;
}


.section-1{
font-style: italic;
color: rgb(7, 24, 6);
text-align: center;
font-size: larger;
}

.section-2{
font-style: italic;
color: rgb(7, 24, 6);
text-align: center;
font-size: larger;
}

.nav-wrapper {
  text-align: center;
}
